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# -*- mode: gitignore; -*-

*~

\#*\#

/.emacs.desktop

/.emacs.desktop.lock

*.elc

auto-save-list

tramp

.\#*



# Org-mode

.org-id-locations

*_archive



# flymake-mode

*_flymake.*



# eshell files

/eshell/history

/eshell/lastdir



# elpa packages

/elpa/



# reftex files

*.rel



# AUCTeX auto folder

/auto/



# cask packages

.cask/

dist/



# Flycheck

flycheck_*.el



# server auth directory

/server/



# projectiles files

.projectile



# directory configuration

.dir-locals.el
